<div class="fondo">
  <div class="contenido">
    <input class="search-input" type="text" placeholder="Search..." [(ngModel)]="searchText"
           (input)="filterProductos()">
    <br>
    <div class="contenido_table">
      <table class="styled-table">
        <thead class="descripcionHead">
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción<span class="info-icon">i</span></th>
          <th>Fecha de liberación<span class="info-icon">i</span></th>
          <th>Fecha de reestructuración<span class="info-icon">i</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of pagedProductos" class="descripcion">
          <td>
            <div class="logo-circle">JG</div>
          </td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description }}</td>
          <td>{{ producto.date_release }}</td>
          <td>{{ producto.date_revision }}</td>
        </tr>
        <tr *ngIf="pagedProductos.length === 0">
          <td colspan="7" class="text-center">No hay datos para mostrar</td>
        </tr>
        </tbody>
      </table>
      <div class="footerTable">
        <label>{{ pagedProductos.length }} Resultados</label>
        <select [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)" class="selector">
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
        </select>

      </div>
    </div>
  </div>
</div>
